<li class="nav-item dropdown no-arrow" style="left:5px;">
  <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.try(:realname) %></span>
  <% if current_user.current_role  %>
    <%= select_tag "current_role_id", options_for_select(current_user.roles.map{|role| [role.name,role.id]},current_user.current_role_id) ,class: "camo-select w120 "%>
  <% end %>
  <a class="nav-link dropdown-toggle float-right" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if current_user.avator.attached? %>
      <%=image_tag url_for(current_user.avator),class: 'img-profile rounded-circle' %>
    <% else %>
      <%= image_pack_tag 'media/img/default_avator1.jpg',class: 'img-profile rounded-circle' %>
    <% end %>
  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    <a class="dropdown-item lineHeight" id="my_info">
      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
      个人信息
    </a>
    
    <div class="dropdown-divider"></div>
    <a class="dropdown-item lineHeight" id="my_password">
      <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
      修改密码
    </a>
    <div class="dropdown-divider"></div>
    <%= link_to 'javascript:;;',class: 'dropdown-item lineHeight',id: 'logout',onclick: "$('#logoutModal').modal();" do %>
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
      退出登录
    <% end %>
  </div>
</li>

<script type="text/javascript">
  $(function(){
    $("#my_info").click(function(event) {
      /* Act on the event */
      var d = dialog({
        title: '个人信息',
        content: "<%= j(render partial: '/admin/home/my_info')  %>",
        okValue: '确定',
          ok: function () {
            this.title('提交中…');
          $("#my_info_form").submit();
          },
          cancelValue: '取消',
          cancel: function () {}
      });
      d.showModal();
    });
    $("#current_role_id").change(function(){
      $.post("<%= admin_home_check_role_path %>", {current_role_id: $(this).val()}, function(data, textStatus, xhr) {
        if(data.success){
          toastr['success'](data.msg,"<%= notice_tip('success') %>")
          location.reload();
        }else{
          toastr['error'](data.msg,"<%= notice_tip('error') %>")
          location.reload();
        }
      });
    })
    $("#my_password").click(function(event) {
      /* Act on the event */
      var d = dialog({
        title: '修改密码',
        content: "<%= j(render partial: '/admin/home/my_password')  %>",
        okValue: '确定',
          ok: function () {
            this.title('提交中…');
            var form = document.querySelector('#my_password_form');
            Rails.fire(form, 'submit');
            return false
          },
          cancelValue: '取消',
          cancel: function () {}
      });
      d.showModal();
    });
  })
</script>
<style type="text/css">
  .camo-select {
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }
  select.camo-select:focus,select.camo-select:active,select.camo-select:hover{
    outline:none;
  }
</style>