<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th class="w80">序号</th>
      <th>操作人</th>
      <th>拨付金额(元)</th> 
      <th>拨付时间</th> 
      <th class="w400">拨付说明</th>
      <th>操作</th> 
    </tr>
  </thead>
  <tbody>
    <% @appropriations.each_with_index do |appropriation, index| %>
        <tr>
          <td class="text-center"><%= show_index(index)%></td>
          <td class="text-left" >
            <%= appropriation.user&.realname %>
          </td>
          <td >
            <%= appropriation.money %>
          </td>
          <td class="text-left" >
           <%= appropriation.appropriation_at %>
          </td>
          <td>
           <%= appropriation.remark %>
          </td>
          <td>
            <%= link_to '修改', edit_appropriation_admin_project_path(@project,appropriation_id: appropriation.id,  :back => request.fullpath),remote: true , class: 'btn btn-primary btn-sm'   if can? :edit_appropriation,@project %>
          </td>
        </tr>
      <% end -%>
  </tbody>
</table>