
<div class="table-responsive mt-4">
  <div class="bd-callout bd-callout-info">
     <h6 class="m-0 font-weight-bold text-primary" data-toggle="collapse">选择专家条件</h6>
  </div>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
       <thead>
            <tr>
              <th class="w100">专家类别</th>
              <th class="w150">专家专业</th>
              <th class="w150">是否本单位</th>
              <th class="w100">专家数量</th>
            </tr>
        </thead>
        <tbody>
           <%  extract_record.extract_details.each do |detail| %>
          <tr>
            <td>
                <%= detail.major_category_name %>
            </td>
            <td>
              <%= detail.major_name.join('、').presence || '不限' %>
            </td>
            <td>
                <%= ExtractDetail::ISDEPARTMENT[detail.is_department] %>
            </td>
            <td>
                <%= detail.experts_number %>
            </td>
          </tr>
          <% end -%>
        </tbody>
    </table>
  <div class="bd-callout bd-callout-info">
     <h6 class="m-0 font-weight-bold text-primary" data-toggle="collapse">抽取专家明细</h6>
  </div>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
       <thead>
            <tr>
                <th class="w80">序号</th>
                <th class="w100">专家类别</th>
                <th class="w150">单位名称</th>
                <th class="w100">姓名</th>
                <th class="w100">电话</th>
                <th class="w150">专家专业</th>
                <th class="w150">是否本单位</th>
            </tr>
        </thead>
          <tbody>
              <% extract_experts.each_with_index do |expert, index| -%>
              <tr id="expert_<%= expert.id %>">
                  <td class="textc">
                      <%= index + 1 %>
                  </td>
                  <td>
                      <%= expert.major_category_name %>
                  </td>
                  <td>
                      <%= expert.department_name %>
                  </td>
                  <td>
                      <%= expert.expert_name %>
                  </td>
                  <td>
                      <%= expert.expert_phone %>
                  </td>
                  <td>
                    <%=  expert.expert_major_name %>
                  </td>
                  <td>
                      <%= expert.is_department ? "是" : "否" %>
                  </td>
              </tr>
              <% end -%>
          </tbody>
    </table>
</div>
