<div class="mt-2">
  <%= form_for @query, :url => appropriation_index_admin_projects_path, :html => {:method => :get, :class => "well form-search form-inline"}  do |f| %>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label>名称：</label>
        <%= f.text_field :name_cont ,class: 'form-control ',placeholder: "名称" %>
      </div>
      <div class="col-auto">
          <label>专项：</label>
          <%= f.select :project_special_id_eq, ProjectSpecial.pluck(:name,:id), {include_blank: '全部'},{class: 'custom-select-fixed-width'} %>
      </div>
      <div class="col-auto">
          <label>项目状态：</label>
          <%= f.select :status_eq, OperationStatus.pluck(:name,:code), {include_blank: '全部'},{class: 'custom-select-fixed-width'} %>
      </div>
      <div class="col-auto">
          <label>项目类别：</label>
           <%= f.select :project_genre_id_eq, ProjectGenre.pluck(:name,:id), {include_blank: '全部'},{class: 'custom-select-fixed-width'} %>
      </div>
     
    </div>
    <div class="form-row align-items-center mt5">
      <div class="col-auto">
        <label>承办科室：</label>
        <%= f.select :department_id_eq, Department.pluck(:name,:id), {include_blank: '全部'},{class: 'custom-select-fixed-width'} %>
      </div>
      <div class="col-auto">
        <label>建设单位：</label>
        <%= f.text_field :construct_company_name_cont ,class: 'form-control ',placeholder: "建设单位" %>
      </div>
      <div class="col-auto">
        <label>实施单位：</label>
        <%= f.text_field :implement_unit_cont ,class: 'form-control ',placeholder: "实施单位" %>
      </div>
       <%= hidden_field_tag :back, params[:back]%>
      <%= render 'admin/shared/search_buttons',total_num:  @query.result.count %>
    </div>
  <% end %>
</div>
<div class="card-body">
  <div class="text-center font25">
    <strong class="text-primary ml10"> 项目总投资 ：</strong> <strong class="text-danger"><%= @query.result.map(&:total_money).sum %>元</strong>
    <strong class="text-primary ml10"> 拟补助金额： </strong> <strong class="text-danger"><%= @query.result.map(&:subsidy_money).sum %>元</strong>
    <strong class="text-primary ml10"> 已拨付金额： </strong> <strong class="text-danger"><%= @query.result.map(&:appropriation_money).sum %>元</strong>
  </div>
  <div class="mt20">
    <table class="table table-bordered table-sm"  cellspacing="0" data-toggle="table" data-fixed-columns="true"  data-fixed-number="2" data-fixed-right-number="1" data-height= '460' >
      <thead>
        <tr>
          <th class="w80">序号</th>
          <th class="w300">项目名称</th>
          <th class="w300" >专项</th>
          <th class="w100">已拨付金额(元)</th> 
          <th class="w150">项目类别</th> 
          <th class="w150" >承办科室</th> 
          <th class="w200">建设单位</th> 
          <th class="w150">资金来源</th> 
          <th class="w100">项目总投资(元)</th> 
          <th class="w100">拟补助金额(元)</th>
          <th class="w150">立项时间</th> 
          <th class="w150">计划完成时间</th> 
          <th class="w150"> 实际完成时间</th> 
          <th class="w100">完成进度</th> 
          <th class="w100">项目状态</th> 
          <th class="w200">实施地点</th> 
          <th class="w200">实施单位</th> 
          <th class="w180">操作</th>
        </tr>
      </thead>
        <tbody>
          <% @projects.each_with_index do |project, index| %>
              <tr>
                <td class="text-center"><%= show_index(index)%></td>
                <td >
                   <%= project.name %>
                 </td>
                <td>
                  <%= project.special_name %>
                </td>
                <td>
                  <%= project.appropriation_money %>
                </td>
                <td >
                 <%= project.project_genre_name %>
                </td>
                <td >
                 <%= project.department_name %>
                </td>
                <td >
                 <%= project.construct_company_name %>
                </td>
                <td>
                 <%= project.capital_origin %>
                </td>
                <td>
                 <%= project.total_money %>
                </td>
                <td>
                 <%= project.subsidy_money %>
                </td>
                <td>
                 <%= project.approval_at %>
                </td>
                <td>
                  <%= project.plan_completion_at %>
                </td>
                <td>
                  <%= project.completion_at %>
                </td>
                <td>
                  <%= project.progress %>%
                </td>
                <td>
                  <%= project.status_zh %>
                </td>     
                <td>
                  <%= project.implement_site %>
                </td>
                <td>
                  <%= project.implement_unit %>
                </td>
                <td>
                  <% show_link = link_to '查看', admin_project_path(project,back: request.fullpath) if can? :show,project  %>
                  <% appropriation_list_link = link_to '已拨付列表', appropriation_list_admin_project_path(project, :back => request.fullpath),remote: true  if (can? :appropriation_list,project) %>   
                  <% appropriation_link = link_to '资金拨付', appropriation_admin_project_path(project, :back => request.fullpath),remote: true  if (can? :appropriation,project) %>
                  
                  <%= operate_buttons([show_link,appropriation_list_link,appropriation_link].compact) %>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
        <div class="mt10">
          <%= paginate @projects %>
        </div>
     </div>
</div>

<style type="text/css">
  .w300 div.th-inner {
     min-width: 300px !important;
  }
  .w200 div.th-inner {
     min-width: 200px !important;
  }
  .w180 div.th-inner {
     min-width: 180px !important;
  }
  .w150 div.th-inner {
     min-width: 150px !important;
  }
  .w100 div.th-inner {
     min-width: 100px !important;
  }
  .w80 div.th-inner {
     min-width: 80px !important;
  }
</style>