<%= form_for [:admin, current_user] ,url: admin_home_update_my_password_path(back: request.fullpath), remote: true, method: :post, html: {class: 'valid_engine',id:'my_password_form'} do |f| %>
    <div class="form-group row justify-content-start align-items-center">
      <div class="col-sm-4 text-right">
        <%= require_span %><%= f.label :old_password,class: 'col-form-label'%>
      </div>
      <div class="col-sm-8 mb-3 mb-sm-0">
        <%= f.password_field :old_password,class: "form-control form-control-user validate[required]",placeholder:"当前密码" %>
      </div>
    </div>
    <div class="form-group row justify-content-start align-items-center">
      <div class="col-sm-4 text-right">
        <%= require_span %><%= f.label :password,class: 'col-form-label'%>
      </div>
      <div class="col-sm-8 mb-3 mb-sm-0">
        <%= f.password_field :password, autocomplete: "new-password",class: "form-control form-control-user validate[required, minSize[6]]",placeholder:"新密码" %>
      </div>
    </div>
    <div class="form-group row justify-content-start align-items-center">
      <div class="col-sm-4 text-right">
        <%= require_span %><%= f.label :password_confirmation,class: 'col-form-label'%>
      </div>
      <div class="col-sm-8 mb-3 mb-sm-0">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control form-control-user validate[required, minSize[6]]",placeholder:"确认密码" %>
      </div>
    </div>
  </div>
<% end -%>
<script type="text/javascript">
  $(function(){
    $("#my_password_form").validationEngine();
  })
</script>